/* app */
.app__container {
  padding-inline: 5vw;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5vh;
  gap: 10px;
}
.app__main {
  padding-inline: 10px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 10px;
}
/* cv */
.app__cvPreview {
  max-height: 120vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  background-color: var(--background-grey-soft);
  border-radius: 10px;
}
.nameApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
.nameApp span {
  font-size: 0.8rem;
}
.cvOne__container {
  height: 842px;
  width: 595px;

  display: grid;
  grid-template-columns: 1.2fr 2fr;
  background-color: var(--white);
}
.cvOne__leftSectionContent {
  display: grid;
  grid-template-rows: repeat(4fr);

  background-color: var(--primary-color);
}
.cvOne__leftSectionContent p,
.cvOne__leftSectionContent h3 {
  color: var(--white);
}
.lft-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lft-section h3 {
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
}
.cvOne__photoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cvOne__photo {
  width: 150px;
  height: 150px;

  background-color: var(--white);
  border-radius: 50%;
}
/* Control Panel */
.app__controlPanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app__barContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* optionBar & loadBar*/
.optionBar__container,
.loadBar__container {
  width: 45%;
  padding: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  background-color: var(--background-grey-soft);
  border-radius: 10px;
}
.optionBar__button,
.loadBar__button {
  width: 90px;
  height: 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.active {
  background-color: var(--white);
}
.inactive {
  background-color: transparent;
}
.red {
  color: var(--red-delete);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.red:hover {
  background-color: var(--red-delete);
  color: var(--white);
  border: none;
}
.green {
  color: var(--green-load);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.green:hover {
  background-color: var(--green-load);
  color: var(--white);
  border: none;
}
.sectionTab__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* data section */
.dataSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.personalDetails__container {
  padding: 10px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--background-grey-soft);
  border-radius: 10px;
}
.personalDetails__content {
  padding-block: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  border-top: 2px solid var(--black-charcoal);
}
.personalDetails__inputContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.personalDetails__inputContainer input {
  padding: 10px;
  width: 100%;

  border-radius: 5px;
}
.personalDEtails__textArea {
  padding: 10px;
  width: 100%;
  height: 150px;

  resize: none;
  border: none;
  border-radius: 10px;
  outline: none;
  overflow: scroll;
}
.photo__container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.photo__content {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo__inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.photo__button {
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
}
.photo__romoveButton {
  padding: 10px 12px;
}
.photo__imagePreview {
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.photo__imagePreview img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.experienceEducation__container {
  padding: 10px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--background-grey-soft);
  border-radius: 10px;
}
.experienceEducation__title {
  display: flex;
  justify-content: space-between;
}
.experienceEducation__title button {
  padding: 10px 12px;
}
.experienceEducation__content {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infoCard__container {
  padding: 10px;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  background-color: var(--white);
  border-radius: 10px;
}
.infoCard__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infoCard__options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.infoCard__options button {
  padding: 10px 12px;
}
.modal__container {
  width: 100%;
  padding-block: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  background-color: var(--background-grey-soft);
  border-top: 2px solid var(--black-charcoal);
}
.modal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__question {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__question input {
  padding: 10px;
  width: 100%;

  border-radius: 5px;
  background-color: var(--white);
}
.modal__actions {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.modal__actions button {
  padding: 10px;
  background-color: var(--white);
}

/* footer */
.footer__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
