:root {
  --background-grey-soft: #f5f5f5;

  --white: #ffffff;
  --black-charcoal: #333333;

  --red-delete: #e74c3c;
  --green-load: #2ecc71;

  --primary-color: #388e3c;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  font-weight: normal;
}
h1,
h3,
p,
button,
a {
  color: var(--black-charcoal);
}
button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
#root {
  background-color: var(--background-grey-soft);
}
