:root {
  --background-grey-soft: #d3d3d3;

  --white: #ffffff;
  --black-charcoal: #1c1c1c;

  --red-delete: #e74c3c;
  --green-load: #16a085;

  --primary-color: #0984e3;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: light;
}
h1,
h3,
p,
button,
a {
  color: var(--black-charcoal);
}
button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
}
input {
  border: none;
  outline: none;
}
input:focus {
  border: 0px solid var(--black-charcoal);
  outline: 1px solid var(--black-charcoal);
}
#root {
  background-color: var(--white);
}
